.color-empty {
  fill: #ebedf0;
}
.color-scale-1 {
  fill: #add8ff; /* light blue */
}
.color-scale-2 {
  fill: #5ab4f8; /* medium light blue */
}
.color-scale-3 {
  fill: #257bd6; /* medium blue */
}
.color-scale-4 {
  fill: #0b4ba3; /* dark blue */
}

.react-calendar-heatmap text {
  fill: #555;
  font-size: 9px;
}
